@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Fira+Sans+Extra+Condensed&display=swap");
html {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: background 1s;
}
body .darkmode_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 0px auto;
}
body .darkmode_container .darkmode_btn {
  display: flex;
  flex-direction: row;
  background: url("./svg/moon.svg");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}
body .darkmode_container #darkmode_btn {
  color: #000;
  margin-left: 4px;
}
body .col {
  display: flex;
  flex-direction: column;
}
body .row {
  display: flex;
  flex-direction: row;
}
body .container {
  margin: 14px auto auto auto;
  width: 37.5%;
}
body .container .title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  margin: auto auto 20px auto;
  text-shadow: rgba(0, 0, 0, 0.5) -5px 5px 5px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 1s;
  text-align: center;
}
body .container .list {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 18px;
  flex-wrap: wrap;
  width: 320px;
  margin: auto;
  justify-content: center;
}
body .container .list .list_item {
  background: #202030;
  color: #fff;
  align-items: center;
  justify-content: center;
  border: 1px dashed #202030;
  border-radius: 10px;
  margin: 3px 4px;
  align-items: center;
  padding: 10px 10px;
  width: 130px;
  height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.2509803922) -5px 5px 5px;
  box-shadow: rgba(32, 32, 48, 0.5019607843) -5px 5px 5px;
  transition: border 1s;
}
body .container .list .list_item:hover {
  background: rgba(32, 32, 48, 0.95);
  -webkit-animation: text_color 0.3s forwards;
          animation: text_color 0.3s forwards;
}
body .footer {
  width: calc(100% - 22px);
  border: 1px solid #202030;
  background: #202030;
  padding: 10px 10px 4px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.9) -1px -5px 50px;
}
body .footer .link {
  display: flex;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  margin: auto 10px;
  color: #fff;
}
body .footer .link::after {
  content: "";
  display: flex;
  height: 2px;
  background: transparent;
  margin-top: 4px;
}
body .footer .link:hover::after {
  background: #fff;
  -webkit-animation: width 0.5s forwards;
          animation: width 0.5s forwards;
}

.dark {
  background: #14141b;
}
.dark .darkmode_container .darkmode_btn {
  background: url("./svg/sun.svg");
}
.dark .darkmode_container #darkmode_btn {
  color: #fff;
}
.dark .container .title {
  color: #fff;
  text-shadow: rgba(255, 255, 255, 0.5) -5px 5px 5px;
}
.dark .container .list .list_item {
  border: 1px solid #202030;
}

@-webkit-keyframes text_color {
  0% {
    color: white;
  }
  100% {
    color: #0649ad;
    text-shadow: rgba(12, 96, 223, 0.2509803922) -5px 5px 5px;
  }
}

@keyframes text_color {
  0% {
    color: white;
  }
  100% {
    color: #0649ad;
    text-shadow: rgba(12, 96, 223, 0.2509803922) -5px 5px 5px;
  }
}
@-webkit-keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media only screen and (max-width: 870px) and (min-width: 550px) {
  body .container {
    width: 60%;
  }
  body .container .list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 549px) and (min-width: 480px) {
  body .container {
    width: 80%;
  }
  body .container .list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 500px) {
  body .darkmode_container {
    margin: 10px auto 0px auto;
  }
}
@media only screen and (max-width: 480px) {
  body .container {
    width: 100%;
  }
  body .container .list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 335px) {
  body .container {
    width: 100%;
    align-items: center;
  }
  body .container .list {
    flex-direction: column;
    margin: 0 10px 0 10px;
  }
  body .container .list .list_item {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */